@import "vendor/basscss";
@import "vendor/responsive-margin";
@import "vendor/responsive-padding";
@import "vendor/colors";
@import "vendor/background-colors";
@import "vendor/background-images";
@import "vendor/align";
@import "vendor/utility-headings";


body {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  height: 100vh;
}
